
body{
    background-image: url(../images/background.png)
}
#header{
    background-color: orangered;
    color: white;
    height: 60px;
    width: 320px;
    margin: auto;
    float: left;
}
#instructions{
    background-color: tan;
    color: green;
    font-weight: bold;
    padding-top: 20px;
    width: 500px;
    clear: both;
}

#result{
    background-color: #558899;
    color: #222299;
    font-size: xx-large;
    height: 50px;
    width: 320px;
}
.crystals{
    display: flex;
    align-items: left;
}

.crystal{
    height: 80px;
    background-size: auto;
}
#scoreBoard{
    background-color: #558899;
    color: white;
    font-weight: bold;
    width: 250px;
}